<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/config/bootstrap.php">

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Zxcvbn-PHP">
      <directory suffix="Test.php">test/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
</phpunit>
