<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/config/bootstrap.php">

    <testsuites>
       <testsuite name="Zxcvbn-PHP">
         <directory suffix="Test.php">test/</directory>
       </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory suffix=".php">src</directory>
      </whitelist>
    </filter>

    <logging>
      <log type="coverage-html" target="build/coverage" charset="UTF-8"/>
      <log type="coverage-clover" target="build/logs/clover.xml" charset="UTF-8"/>
      <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

</phpunit>
